<button type="button" class="image {{if this.isLarge "large"}}" {{on "click" this.toggleSize}}>
  <img ...attributes>
  <small {{on "click" this.toggleSize}}> View {{if this.isLarge "Smaller" "Larger"}}</small>
</button>