<nav class="menu flex flex-col sm:flex-row items-center">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <LinkTo @route="about" class="menu-about">
    About
  </LinkTo>
  <LinkTo @route="contact" class="menu-contact">
    Contact
  </LinkTo>
  {{#if @loggedIn}}
    <LinkTo @route="add-property" class="menu-contact">
      Add Your Property
    </LinkTo>
  {{/if}}
  <div class="flex sm:ml-auto items-center">
    {{log @user}}
    <DropdownMenu
      @title={{if @loggedIn @user.fullName "Login"}}
      class="menu-contact"
    >
      {{#if @loggedIn}}
        <LinkTo @route="logout">
          Edit Profile
        </LinkTo>
        <LinkTo @route="logout">
          Logout
        </LinkTo>
      {{else}}
        <LinkTo @route="login">
          Login
        </LinkTo>
        <LinkTo @route="user-registration">
          Sign Up
        </LinkTo>
      {{/if}}
    </DropdownMenu>
  </div>
</nav>