<div class="rentals">
  <label>
    <span>Where would you like to stay?</span>
    <Input @type="search" @value={{this.query}} class="light w-10/12 md:w-5/12" />
  </label>

  <ul class="results">
    <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |results|>
      {{#each results as |rental|}}
        <li><Rental @rental={{rental}} /></li>
      {{/each}}
    </Rentals::Filter>
  </ul>
</div>